* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: gray;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 0 10px 10px black;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1em;
}

p {
  padding: 10px;
}

.header {
  display: flex;
  justify-content: right;
  text-align: right;
  align-items: center;
  grid-area: header;
  background-color: #333c87;
  color: #ffffff;
  padding: 2em;
}

#mePic {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.367);
  border-radius: 100%;
  margin: 0.5em 0 0 20%;
  height: 70%;
  width: 70%;
}

.social-links {
  display: flex;
  justify-content: left;
  flex-direction: row;
  list-style: none;
}

.social-links li {
  padding: 10px;
}

.social-links li img {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.367);
}

#gi-png {
  border-radius: 3px;
}

.extra {
  display: flex;
  justify-content: left;
  flex-direction: column;
  grid-area: extra;
  background-color: #333c87;
}

.summary {
  display: flex;
  text-align: center;
  justify-content: center;
  grid-area: summary;
  background-color: #ffffff;
  padding: 2em;
}

.summary p {
  text-align: left;
}

.experience {
  text-align: center;
  padding: 0 4em 2em 4em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: experience;
  background-color: #ffffff;
}

.experience ul {
  text-align: left;
}

.experience ol {
  padding-bottom: 1em;
}

.skills {
  padding: 0 2em;
  display: flex;
  justify-content: right;
  flex-direction: column;
  grid-area: skills;
  background-color: #ffffff;
}

.skills h3 {
  text-align: center;
}

.contact li,
.languages li {
  padding-bottom: 1em;
}

.contact,
.languages {
  padding: 2em 0;
  display: flex;
  justify-content: right;
  flex-direction: column;
  background-color: #ffffff;
}

.skills ul li {
  list-style: disc;
}

.education {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: education;
  background-color: #ffffff;
}

.educationContent {
  display: flex;
  flex-direction: row;
}

.educationContent li {
  padding: 5em;
}

.summary,
.education {
  padding: 20px 10%;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-area: footer;
  text-align: center;
  background-color: #ffffffd1;
}

.language-button {
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.367);
  background-color: #0075b47c;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  border: none;
}

.language-drop {
  position: relative;
  display: inline-block;
  margin: 5px;
}

.language-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.367);
}

.language-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.language-content a:hover {
  background-color: #ddd;
}

.language-drop:hover .language-content {
  display: block;
}

.language-drop:hover .language-button {
  background-color: #0075b4;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.367);
}

.grid-container {
  display: grid;
  grid-gap: 0px;
  grid-template-areas:
    "extra header header header"
    "summary summary summary summary"
    "experience experience skills skills"
    "education education education education"
    "footer footer footer footer";
  grid-template-columns: 25% 25% 25% 25%;
}

@media screen and (max-width: 915px) {
  body {
    margin-left: 0%;
    margin-right: 0%;
  }

  .grid-container {
    grid-template-areas:
      "extra header header header"
      "summary summary summary summary"
      "skills skills skills skills"
      "experience experience experience experience"
      "education education education education"
      "footer footer footer footer";
  }
  .summary p,
  .experience {
    text-align: left;
  }
  .skills {
    text-align: left;
    align-items: center;
    padding-bottom: 2em;
  }
  .educationContent {
    text-align: left;
    flex-direction: column;
  }
}

@media screen and (max-width: 572px) {
  #mePic {
    margin-top: 5vw;
    margin-left: 15px;
    padding-left: 0px;
    height: auto;
    width: 110%;
  }
  .social-links {
    padding-top: 1em;
  }
}
@media screen and (max-width: 452px) {
  #mePic {

    height: auto;
    width: 140%;
    margin-top: 40%;

  }
  .social-links {
    padding-top: 2em;
  }
}
@media screen and (max-width: 411px) {
  #mePic {
    display: none;
  }
  .social-links {
    flex-direction: column;
    padding-top: 11em;
  }
}

.education li {
  padding-top: 20px;
}

@media print and (max-width: 912px) {
  body {
    background-color: none;
    margin-left: 0;
    margin-right: 0;
    box-shadow: none;
  }

  #mePic {
    margin: 30px;
    padding-left: 0px;
    height: 180px;
    width: 180px;
  }
  .social-links,
  .language-button, .language-drop {
    display: none;
  }

  .skills {
    flex-direction: row;
    justify-content: left;
    padding: 0 2em 0 4em;
    margin-top: 0;
  }
  .contact,
  .languages {
    padding-top: 0;
    padding-left: 2em;
    margin-top: 0;
  }

  .languages {
    padding-top: 0;
    padding-left: 2em;
    margin-top: 0;
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .grid-container {
    grid-template-areas:
      "extra header header header"
      "summary summary summary summary"
      "skills skills skills skills"
      "experience experience experience experience"
      "education education education education"
      "footer footer footer footer";
  }
}
