* {
  padding-inline-start: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  list-style: none;
}
body {
  background-color: gray;
  font-family: sans-serif;
  line-height: 1.5;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.header {
  display: flex;
  justify-content: right;
  text-align: right;
  grid-area: header;
  background-color: #333c87;
  color: #ffffff;
  padding: 2em;
}
.social-links {
  display: flex;
  justify-content: left;
  flex-direction: row;
  list-style: none;
  margin-top: 8em;
}

.social-links li {
  padding: 10px;
}

.extra {
  display: flex;
  justify-content: left;
  flex-direction: column;
  grid-area: extra;
  background-color: #333c87;
}

.summary {
  display: flex;
  justify-content: center;
  grid-area: summary;
  background-color: #ffffff;
  padding: 2em;
}

.experience {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: experience;
  background-color: #ffffff;
  padding: 2em;
}

.skills {
  padding: 2em;
  display: flex;
  justify-content: right;
  flex-direction: column;
  grid-area: skills;
  background-color: #ffffff;
}

.education {
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: education;
  background-color: #ffffff;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  grid-area: footer;
  text-align: center;
  background-color: #ffffff;
  
}

.language-button {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.language-drop {
  position: relative;
  display: inline-block;
}

.language-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.language-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.language-content a:hover {
  background-color: #ddd;
}

.language-drop:hover .language-content {
  display: block;
}

.language-drop:hover .language-button {
  background-color: #3e8e41;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "extra header header header"
    "summary summary summary summary"
    "experience experience skills skills"
    "education education education education"
    "footer footer footer footer";
}

@media screen and (max-width: 720px) {
  body {
    margin-left: 0%;
    margin-right: 0%;
  } 

  .social-links {
    flex-direction: column;
  }
  .grid-container {
    grid-template-areas:
      "extra header header header"
      "summary summary summary summary"
      "experience experience experience experience"
      "skills skills skills skills"
      "education education education education"
      "footer footer footer footer";
  }
}
